<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% include 'customer/customer_head.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/customer_dashboard_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="customerdashboardMainContainer">
    </div>
    <div class="banner">
        <div class="dash_topnav">
            <a href="#" onclick="totalTask()">Total Task</a>
            <a href="#" onclick="doneTask()">Done Task</a>
            <a href="#" onclick="inProgress()">In-Progress Task</a>
        </div>

        <div id="pannel">
            <h1>Manage Task</h1>
            <div class="view_customer_Manage_task">
                <div id="view_customer_Manage_task">
                <table id="customer_table_Manage_task">
                    <tr>
                        <th id="th1">Name</th>
                        <th id="th1">Reason</th>
                        <th id="th1">Work Type</th>
                        <th id="th1">Date</th>
                        <th id="th1">Status</th>
                    </tr>
                    {% for i in all %}
                    <tr>
                        <td id="td1">{{ i.name }}</td>
                        <td id="td1">{{ i.reason }}</td>
                        <td id="td1">{{ i.reason_type }}</td>
                        <td id="td1">{{ i.date }}</td>
                        <td id="td1">{{ i.status }}</td>
                    </tr>
                    {% endfor %}
                </table>
                </div>
            </div>
        </div>
        <div id="Panel1">
            <h1>Done Task</h1>
            <div class="done_task">
            <div id="done_task">
            <table id="customer_table_Done_task">
                <tr>
                    <th id="th1">Name</th>
                    <th id="th1">Reason</th>
                    <th id="th1">Work Type</th>
                    <th id="th1">Date</th>
                </tr>
                {% for i in done %}
                <tr>
                    <td id="td1">{{ i.name }}</td>
                    <td id="td1">{{ i.reason }}</td>
                    <td id="td1">{{ i.reason_type }}</td>
                    <td id="td1">{{ i.date }}</td>
                </tr>
                {% endfor %}
            </table>
            </div>
            </div>
        </div>
        <div id="Panel2">
            <h1>In-Progress Task</h1>
            <div class="inProgress_task">
            <div id="inProgress_task">
            <table id="customer_table_inProgress_task">
                <tr>
                    <th id="th1">Name</th>
                    <th id="th1">Reason</th>
                    <th id="th1">Work Type</th>
                    <th id="th1">Date</th>
                </tr>
                {% for i in inprogress %}
                <tr>

                    <td id="td1">{{ i.name }}</td>
                    <td id="td1">{{ i.reason }}</td>
                    <td id="td1">{{ i.reason_type }}</td>
                    <td id="td1">{{ i.date }}</td>
                 </tr>
                {% endfor %}
            </table>
            </div>
            </div>
        </div>
    </div>
</div>



    <script src="customer_script.js"></script>
    <script>
    function totalTask() {
        document.getElementById("pannel").style.display = "block";
        document.getElementById("Panel1").style.display = "none"; // hide manage customer section
        document.getElementById("Panel2").style.display = "none";
    }
    function doneTask() {
        document.getElementById("Panel1").style.display = "block";
        document.getElementById("Panel2").style.display = "none";
        document.getElementById("pannel").style.display = "none";
    }
    function inProgress(){
        document.getElementById("Panel2").style.display = "block";
        document.getElementById("Panel1").style.display = "none"; // hide manage customer section
        document.getElementById("pannel").style.display = "none";
    }
    </script>
</body>
</html>