<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    {% include 'includes/footer.html' %}
    {% include 'includes/headerAndFooter.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Shree Samarth Electricals</title>
    <link rel="stylesheet" href="{% static 'css/contact_us.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>
    <div class="box">
    <section class="sec1">
        <h1>Meet Us</h1>&nbsp &nbsp &nbsp;
        <h2 class="name">
              <i class="fa-solid fa-user"></i> : Ganesh Patil<br>
              <i class="fa-solid fa-phone"></i> : +91 7845346565<br>
              <i class="fa-solid fa-envelope"></i> : ganeshpatil45@gmail.com<br>
              <i class="fa-solid fa-location-dot"></i> : Near Government hospital,Khiroda road, chinawal 425505<br>
                                                    Tal. Raver Dist.Jalgaon
        </h2>
    </section>
    </div>


    <script src="{% static 'script.js' %}"></script>
</body>
</html>