<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    {% include 'includes/footer.html' %}
    {% include 'includes/headerAndFooter.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Shree Samarth Electricals</title>

</head>
<body>

    <section class="sec1">
        <img src="{% static 'images/Photo_1704122859145.png' %}" width="300" height="200">
        <h1>Shree Samarth Electricals</h1>&nbsp &nbsp &nbsp;
        <h2>Submersible Pump repair and rewinding</h2>
    </section>


    <script src="{% static 'script.js' %}"></script>
</body>
</html>